*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(72, 153, 203);
}
.wrapper{
    background-color: rgba(216, 220, 223, 0.822);
    width: 600px;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-section{
    display: flex;
    justify-content: center;
}
.quote-section i{
    font-size: 18px;
}
.quote-section i:first-child{
    margin: 3px 10px 0 0;
}
.quote-section i:last-child{
    display: flex;
    align-items: flex-end; 
    margin: 0 0 3px 10px
}
.quote-section .quote{
    text-align: center;
    word-break: break-all;
    font-size: 24px;
}