*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(72, 153, 203);
}
.wrapper{
    background-color: rgba(216, 220, 223, 0.822);
    width: 600px;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-section{
    display: flex;
    justify-content: center;
}
.quote-section i{
    font-size: 18px;
}
.quote-section i:first-child{
    margin: 3px 10px 0 0;
}
.quote-section i:last-child{
    display: flex;
    align-items: flex-end; 
    margin: 0 0 3px 10px
}
.quote-section .quote{
    text-align: center;
    word-break: break-all;
    font-size: 24px;
}
.content .author{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
    justify-content: flex-end;
    font-size: 18px;
    font-style: italic;
}
.author span:first-child{
    margin: -7px 5px 0 0;
}
.wrapper .buttons{
    border-top: 1px solid rgb(24, 22, 22);
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    margin: 0 5px;
    list-style: none;
    height: 25px;
    width: 30px;
    border-top: 2px solid rgb(72, 153, 203);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features button{
    background: rgb(72, 153, 203);
    border: none;
    outline: none;
    color: white;
    border-radius: 30px;
    padding: 12px 20px;
}
